#main-header {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
#main-header .content {
  display: flex;
  justify-content: space-between;
}
#presentation {
  background-image: url(../../../content/img/perfil/1.jpg);
  background-size: cover; 
  background-position: center;
  padding-top: 8rem;
  padding-bottom: 16rem;
}
#presentation h1 {
  font-size: 4.5rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#presentation h1 span {
  background-color: var(--accent-color);
  padding: .5rem 1rem;
}
#presentation h1 span:first-child {
  margin-bottom: 1rem;
}
#presentation .description {
  max-width: 26rem;
  margin-top: 1rem;
}
#presentation .white-block {
  max-width: 48.125rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 3rem 5rem;
  position: absolute;
  left: 50%;
  bottom: -18.5rem;
  transform: translateX(-50%);
}
#presentation .white-block h2 {
  font-weight: 600;
  margin: 0 0 1.5rem;
}
#information {
  background-color: black;
  padding-top: 15rem;
}