#main-header {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
#main-header .content {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
#presentation {
  background-image: url(../../../content/img/perfil/1.jpg);
  background-size: cover; 
  background-position: center;
  padding-top: 8rem;
  padding-bottom: 16rem;
}
#presentation h1 {
  font-size: 4.5rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#presentation h1 span {
  background-color: var(--accent-color);
  padding: .5rem 1rem;
}
#presentation h1 span:first-child {
  margin-bottom: 1rem;
}
#presentation .description {
  max-width: 26rem;
  margin-top: 1rem;
}
#presentation .white-block {
  max-width: 48.125rem;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 3rem 5rem;
  position: absolute;
  left: 50%;
  top: 42rem;
  transform: translateX(-50%);
}
#presentation .white-block h2 {
  font-weight: 600;
  margin: 0 0 1.5rem;
}
#information {
  background: url(../../img/backgrounds/1.png);
}
#information .content {
  padding: 17rem 0 3.5rem;
}
#information h2 {
  color: var(--accent-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#information .group-text {
  column-count: 2;
  column-gap: 3.5rem;
}
#products {
  background-color: var(--tertiary-color);
}
#products .content {
  padding: 3.5rem 0;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: 1fr 1fr 1fr;
}
#products .card {
  max-width: 18.125rem;
  background-color: var(--primary-color);
  padding: 2rem;
  box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.25);
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}
#products .card h3 {
  color: var(--accent-color);
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}
#products .card p {
  color: var(--secondary-color);
  text-align: center;
}
#products .card img {
  width: 8.1875rem;
  height: 8.1875rem;
}
#footer {
  background-color: var(--secondary-color);
}
#footer .content {
  padding: 1rem 0;
}
#footer .content p {
  color: var(--primary-color);
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  #products .content {
    gap: 1rem;
  }
}
@media (max-width: 800px) {
  #presentation .white-block {
    width: calc(100% - 2rem);
  }
  #information .group-text {
    column-count: 1;
  }
  #products .content {
    grid-template-columns: 1fr 1fr;
  }
  #products .card {
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  #main-header .content {
    display: grid;
    justify-content: unset;
    justify-items: center;
    gap: 1rem;
  }
}