body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-color);
  line-height: 1.7;
}
p {
  margin: 0 0 1.5rem;
}
p:last-child {
  margin-bottom: 0;
}
.view-full {
  padding: 0 1rem;
}
.view-limit {
  max-width: 58.125rem;
  margin: 0 auto;
}
